<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fate.ftmgp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="没有什么～～切勿非法利用，后果自担" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>
